

.card{
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0 1em 0;
    
}

.grid{
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: 50%;
    justify-content: center;
    gap: 0.5em;
}

.red{
    background-color: #f83259;
}

.blue{
    background-color: #63f6f2;
}

.yellow{
    background-color: #feff02;
}


@media (min-width: 610px){
    .grid{
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 5em);
    }
}

@media (min-width: 760px){
    .grid{
        grid-template-columns: repeat(5, 20%);
    }

    .blue{
        grid-row: 1/4;
        grid-column: 3/4;
    }

    .yellow{
        grid-row: 2/4;
        grid-column: 4/6;
    }
}